body {
    font-family: "Rubik", sans-serif;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
}

header {
    text-align: center;
}

main button {
    min-width: 40vh;
    min-height: 4vh;
    border-radius: 10px;
    background-color: #91f2bbff;
    border: 1px solid black;
    font-weight: 700;
    cursor: pointer;
}

.wrapper {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    right: 100vh;
}

#wrapper-display {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    right: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.wrapper p {
    text-align: center;
    font-weight: 500;
}

.user {
    text-align: right;
    grid-column: 1;
    grid-row: 1;
}

.computer {
    text-align: left;
    grid-column: 3;
    grid-row: 1;
}


#pedra {
    width: 100px;
    height: 100px;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
}

#pedra img {
    max-width: 100%;
}

#papel img {
    max-width: 100%;
}

#tesoura img {
    max-width: 100%;
}

#papel {
    width: 100px;
    height: 100px;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}

#tesoura {
    width: 100px;
    height: 100px;
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
}

.divTeste {
    color: white
}